
body {
    padding:0;
    margin:0;
}


#clockBoxBaseContainer {
    display: flex;
    justify-content: center;
}


#clockBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
    height: 5vh;
    /*border: 3px silver solid;*/
    /*border-radius: 2rem;*/
    /*background-image: url("https://thumbs.gfycat.com/AncientGreenColt-size_restricted.gif");*/
    object-fit: fill;
    /*background-repeat: no-repeat;*/
    background-size: cover;
}

#clock {
    color: grey;
    /*border: 2px whitesmoke solid;*/
    box-shadow: 0px 0px 10px 2px darkslategrey;
    background-color: rgba(255, 255, 255, 80%);
    font-size: 2rem;
    border-radius: 4px;
    z-index: 2
}

#cityDiv {
    color: grey;
    /*border: 2px whitesmoke solid;*/
    box-shadow: 0px 0px 10px 2px darkslategrey;
    background-color: rgba(255, 255, 255, 80%);
    font-size: 1.5rem;
    border-radius: 4px;
    z-index: 2

}

#video {
    width: 31.9vw;
    height: 37vh;
    z-index: 2;
}

div.clickEffect  {
    position:fixed;
    box-sizing:border-box;
    border-style:solid;
    /*border-color:#FFFFFF;*/
    border-color: lightblue transparent;
    border-radius:50%;
    animation:clickEffect 0.4s ease-out;
    z-index: 1;
}
@keyframes clickEffect {
    0% {
        opacity: 1;
        width: 1em;
        height: 1em;
        margin: -1em;
        border-width: 0.5em;
    }
    100% {
        opacity: 0.2;
        width: 4em;
        height: 4em;
        margin: -1em;
        border-width: 0.03em;
    }
}